In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independant=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
independant

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [9]:
dependant=dataset[[  'charges']]

In [10]:
dependant

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor

param_grid={'criterion':['mse','mae','friedman_mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independant,dependant)

C:\Users\udhaya\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.

Fitting 3 folds for each of 18 candidates, totalling 54 fits

[Parallel(n_jobs=-1)]: Done  35 tasks      | elapsed:    5.0s
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:    5.2s finished

GridSearchCV(cv='warn', error_score='raise-deprecating',
             estimator=DecisionTreeRegressor(criterion='mse', max_depth=None,
                                             max_features=None,
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             presort=False, random_state=None,
                                             splitter='best'),
             iid='warn', n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=3)

In [19]:
re=grid.cv_results_

print("the R_score value for best parameter{}:".format(grid.best_params_))

the R_score value for best parameter{'criterion': 'mae', 'max_features': 'auto', 'splitter': 'best'}:

In [13]:
table=pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,0.012659,0.000941,0.006663,1.246449e-03,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.704818,0.667205,0.710820,0.694281,0.019302,3
1,0.012659,0.002625,0.004665,9.407177e-04,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.611957,0.656717,0.735785,0.668153,0.051195,9
2,0.011325,0.001885,0.005332,1.247575e-03,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.623119,0.689743,0.530065,0.614309,0.065485,15
3,0.010660,0.002492,0.007330,2.355391e-03,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.620563,0.531369,0.658456,0.603463,0.053273,17
4,0.011326,0.002053,0.005665,1.700189e-03,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.622335,0.724564,0.635020,0.660640,0.045497,10
5,0.009994,0.002448,0.005330,1.246513e-03,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.681534,0.645561,0.505279,0.610791,0.076040,16
6,0.054630,0.000942,0.004665,4.708088e-04,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.686753,0.740324,0.685710,0.704262,0.025503,1
7,0.042640,0.003768,0.004664,4.705843e-04,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.654012,0.704734,0.701537,0.686761,0.023194,4
8,0.033312,0.001246,0.003999,5.840039e-07,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.656314,0.675045,0.697557,0.676306,0.016861,8
9,0.026316,0.000942,0.005332,4.721009e-04,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.668571,0.732533,0.657906,0.686337,0.032955,5
10,0.031980,0.002446,0.005663,1.696729e-03,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.527995,0.707793,0.738388,0.658059,0.092813,11
11,0.030647,0.002492,0.004330,4.713150e-04,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.615427,0.675228,0.638299,0.642985,0.024637,14
12,0.010661,0.001247,0.004330,4.710899e-04,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.703087,0.648096,0.707307,0.686163,0.026973,6
13,0.009661,0.000472,0.004997,8.153710e-04,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.676219,0.711758,0.708931,0.698970,0.016128,2
14,0.008996,0.000816,0.005997,8.169244e-04,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.556506,0.666054,0.730194,0.650918,0.071711,12
15,0.008995,0.000817,0.005996,1.414898e-03,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.683066,0.594957,0.668694,0.648906,0.038596,13
16,0.008993,0.000818,0.004666,4.709806e-04,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.599410,0.730521,0.706954,0.678962,0.057069,7
17,0.008995,0.000815,0.004997,2.973602e-07,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.710345,0.491015,0.588685,0.596682,0.089719,18

In [15]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_male_input=int(input("sex male 0 or 1:"))
smoker_yes_input=int(input("smoker yes 0 or 1:"))

Age:4
BMI:56
children:5
sex male 0 or 1:5
smoker yes 0 or 1:3

In [16]:

Future_prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input,smoker_yes_input]])
print("Future_prediction={}".format(Future_prediction))

Future_prediction=[44501.3982]